<html>
<head>
  <!-- <a href="//jverson.com" style="position: absolute;z-index: 2;margin: 10px;">
    <img border="0" src="http://ochyazsr6.bkt.clouddn.com/2e47d88dfac555719a96826fab1270b0.jpg" style="width: 0.35rem;"></a> -->
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="./main.js"></script>
  <script>
   (function() {
        var baseFontSize = 100;
        var baseWidth = 1280;
        var set = function() {
          var clientWidth = document.documentElement.clientWidth || window.innerWidth;
          var rem = 100;
          if(clientWidth != baseWidth) {
            rem = Math.floor(clientWidth / baseWidth * baseFontSize);
          }
          document.querySelector('html').style.fontSize = rem + 'px';
        }
        set();
        window.addEventListener('resize', set);
   }());
</script>
</head>
<body>
  <div class="layout">
    <!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=422427519&auto=1&height=32" style="display: none;"></iframe> -->
  	<%- galleryHtml %>
  </div>
  <footer class="footer">
  	<p>Powered by <a href="https://github.com/jiwenxing/myAlbum" target="_blank">zing-gallery</a></p>
  </footer>
  <script type="text/javascript" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
</body>
</html>
